@font-face {
    font-family: Stark;
    src: url(Stark.OTF);
}

/* note that we still need a cross browser solution for smooth scrolling */
html {
    font-size: 18px;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    line-height: 1.75rem;
    font-family: "Source Sans Pro", Arial, sans-serif;
    color: #001030;
}

/* make the background seamless */
#container {
    width: 100%;
    background-size: 100%;
    padding-bottom: 4rem;
    background-image: url(main_background.png);
    background-color: white;
}

header {
    height: 100vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: white;
    background-image: url(home_background.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
}

header img {
    height: 578px;
}

main {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

main img {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

nav {
    height: 3rem;
    width: 100%;
    z-index: 100;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 10px 20px rgba(0, 16, 48, 0.15);
    background-color: white;
}

nav img, .left {
    height: 2.5rem;
    margin: 0 1rem;
}

nav a, .right {
    margin: 0 1rem;
    font-size: 0.75rem;
    line-height: 1rem;
    color: #001030;
    text-decoration: none;
    font-weight: 600;
}

nav a:active, nav a:hover, nav a:focus {
    border-bottom: 3px solid #90E96A;
}

section {
    margin: 4rem 0;
}

h1 {
    font-size: 3rem;
    line-height: 4rem;
    font-family: "Stark", "Source Sans Pro", Arial, sans-serif;
    font-weight: 400;
}

h2 {
    font-size: 2rem;
    line-height: 2rem;
    font-family: "Stark", "Source Sans Pro", Arial, sans-serif;
    font-weight: 400;
}

.bold {
    font-weight: 600;
}

a {
    color: #001030;
    text-decoration: none;
}

#alert a, main a {
    border-bottom: 3px solid #90E96A;
}

#alert a:hover, #alert a:active, #alert a:focus, main a:hover, main a:active, main a:focus {
    border-bottom: 3px solid #D2F8C2;
}

button {
    width: 100%;
    margin: 1rem 0;
    font-size: 1rem;
    line-height: 3.5rem;
    font-family: "Source Sans Pro", Arial, sans-serif;
    background-color: #90E96A;
    border: none;
    font-weight: 600;
}

button:hover, button:active, button:focus {
    background-color: #D2F8C2;
}

iframe {
    width: 100%;
    height: 25rem;
}

.wsite-form-field .wsite-form-input, .wsite-form-field .form-select, .wsite-form-field .wsite-form-field select, .wsite-form-input, #mc_embed_signup input {
    margin-bottom: 10px;
    padding: 10px 20px !important;
    font-family: "Source Sans Pro", Arial, sans-serif;
    font-size: 1rem;
    line-height: 1.75rem;
    font-weight: normal;
    color: #001030;
    border: 2px solid #DEDEDE;
}

.wsite-form-field label, #mc_embed_signup .mc-field-group label {
    font-weight: 600;
}

#mc_embed_signup .button {
    margin: 1rem 0;
    padding: 0 1rem;
    font-family: "Source Sans Pro", Arial, sans-serif;
    font-size: 1rem;
    line-height: 2rem;
    font-weight: 600;
    border-radius: 0;
    background-color: #90E96A;
    color: #001030;
}

/* try flex-grow and transparent background on the dropdowns */
.dropdown {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.dropdown img {
    width: 60%;
    margin-left: 20%;
}

.dropdown .third {
    width: 32%;
}

.dropdown details {
    font-size: 0.8rem;
    background-color: #D2F8C2;
}

.dropdown summary {
    padding: 1rem; 
    font-family: Stark;
    font-size: 1rem;
    text-align: center;
    background-color: white;
}

.dropdown h3 {
    text-align: center;
}

.dropdown .content, ul {
    margin: 0;
    padding: 0.5rem 1rem;
    line-height: 1.25rem;
}

.dropdown a {
    border-bottom: 2px solid #001030;
}

.dropdown a:hover, .dropdown a:focus, .dropdown a:active {
    border-bottom: 2px solid #90E96A;
}

#alert {
    position: absolute;
    top: 0;
    margin: 1rem 2rem;
    padding: 1rem;
    line-height: 1.25rem;
    background-color: white;
    outline: 10px solid rgba(144, 233, 106, 0.8);
}

#map {
    max-width: 60%;
    margin-left: 20%;
}

.sponsor {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sponsor a {
    margin: 0.25rem;
    border-bottom: none !important;
    width: 20%;
}

footer {
    height: 8rem;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #90E96A;
}

footer img {
    width: 2rem;
    margin: 1rem;
}

@media screen and (max-width: 900px) {
    header {
        display: none;
    }
}